#include "Resources.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "lSDK/include/FusionAPI/Ccx.h"
#define APSTUDIO_HIDDEN_SYMBOLS
#include "Windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

KPX_MAGICNUMBER RCDATA 
BEGIN
	0x2516, 0x5908
END

STRINGTABLE 
BEGIN
	KPX_MARK "MF2"
	KPX_NAME "Internal List"
END

#ifndef FUSION_RUNTIME_ONLY

EXO_ICON BITMAP "Icon.bmp"
EXO_IMAGE BITMAP "Icon.bmp"

STRINGTABLE 
BEGIN
	RILO_NAME L"Internal List"
	RILO_AUTHOR L"LB"
	RILO_COPYRIGHT L"2021"
	RILO_DESCRIPTION L"Allows you to utilize an invisible list object with many more features than the List object.\nIt is not a Windows control so it does not slow your application down as much as the List object would.\nAlso supports multiple lists of two types, regular expressions, and advanced sorting.\nIcon thanks to Jaffob."
	RILO_WEBSITE L"https://github.com/LB--/InternalList-Object"
	RILO_HELP L"Examples/Internal List Object/"

	//_B________K____P_____V____
	RILOAM_INSERT_ITEM L"&Insert item"
	RILOAM_INSERT_ITEM_TIMES L"Insert item &multiple times"
	RILOAM_CHANGE_ITEM L"&Change item"
	RILOAM_COPY_ITEMS L"Copy items in &range"
	RILOAM_COPY_FROM_LIST L"Copy items from &another list"
	RILOAM_DELETE_ITEMS L"&Delete items in range"
	RILOAM_DELETE_ITEMS_REGEX L"Delete items matching rege&x"
	RILOAM_CLEAR L"Cl&ear list"
	RILOAM_RESERVE L"&Hint eventual list size"
	RILOAM_SAVE_FILE L"&Save list to file"
	RILOAM_LOAD_FILE L"Load list from &file"
	RILOAM_LOAD_STRING L"&Load list from string"
	RILOAM_SORT L"S&ort list in range"
	RILOAM_SORT_CUSTOM_RESULT L"Set custom sort compare resul&t"
	RILOAM_CHANGE_CURRENT_LIST L"Chan&ge current list"
	RILOAM_DELETE_LIST L"Delete a&nother list"
	RILOAM_USE_GLOBAL_DATA L"&Use global data"
	RILOAM_USE_LOCAL_DATA L"Use local data\t&J"
	RILOAM_COPY_LOCAL_TO_GLOBAL L"Overwrite local data to global data\t&Q"
	RILOAM_COPY_GLOBAL_TO_LOCAL L"Overwrite global data to local data\t&W"
	RILOAM_DELETE_GLOBAL_DATA L"Delete global data\t&Z"
	RILOAM_DELETE_LOCAL_DATA L"Delete local data\t&Y"

	//AB_D_FG_IJKLMNOPQ_STUVWXYZ
	RILOCM_ON_ERROR L"On &error"
	RILOCM_ON_SORT_CUSTOM L"On &compare for custom sort"
	RILOCM_HAS_ITEM L"&Has item in list"
	RILOCM_HAS_ITEM_REGEX L"Has item in list matching &regex"

	//___D_F___JK___OPQ____V__YZ
	RILOEM_GET_ITEM L"&Get item"
	RILOEM_GET_LIST_SIZE L"Get &number of items"
	RILOEM_COUNT_ITEM L"&Count occurrences of an item"
	RILOEM_COUNT_ITEM_INDEX L"Get &index of nth item occurence"
	RILOEM_COUNT_ITEM_REGEX L"Count &regex matches"
	RILOEM_COUNT_ITEM_REGEX_INDEX L"Get index of nth regex &match"
	RILOEM_SERIALIZE_LIST L"Get list as &string"
	RILOEM_SORT_CUSTOM_A L"Custom sort: string &A"
	RILOEM_SORT_CUSTOM_B L"Custom sort: string &B"
	RILOEM_CAPACITY L"Get capacity before rea&llocation"
	RILOEM_LISTS_CURRENT L"Get current list nam&e"
	RILOEM_LISTS_COUNT L"Get &total number of lists"
	RILOEM_LISTS_BY_INDEX L"Get nt&h list name"
	RILOEM_LISTS_CHANGE_STR L"Change current list (in string e&xpressions)"
	RILOEM_LISTS_CHANGE_NUM L"Change current list (in n&umber expressions)"
	RILOEM_ERROR_MESSAGE L"Get error message (&works during On Error event)"

	RILOP_ITEM L"Item string"
	RILOP_INDEX_INSERT_WRAP L"Insert before index (-1 for appending to end of list)"
	RILOP_INSERT_TIMES L"Number of times to insert"
	RILOP_INDEX L"Index"
	RILOP_INDEX_START L"Start index (included)"
	RILOP_INDEX_END_WRAP L"End index (excluded, -1 for end of list)"
	RILOP_INDEX_COPY_BEFORE L"Copy to before index"
	RILOP_COPY_MODE L"0 = Insert; 1 = Overwrite"
	RILOP_FILEPATH L"File path"
	RILOP_DELIMITER L"Delimiter/separator (e.g. "","" or NewLine$)"
	RILOP_ESCAPE L"Escape sequence (e.g. ""\\"")"
	RILOP_LISTSTRING L"List string to load from"
	RILOP_SORT_ORDER L"0 = Foward; 1 = Reverse; 2 = Custom; 3 = Forward Alphanum; 4 = Reverse Alphanum"
	RILOP_SORT_ORDER_CUSTOM_RESULT L"If A should go before B enter 1, otherwise 0"
	RILOP_RESERVE_CAPACITY L"How big do you expect the list to get? This won't be a limit, just an optimization"
	RILOP_REGEX L"Regular Expression string"
	RILOP_LISTNAME L"Name of list"
	RILOP_OCCURRENCE L"Occurrence # (1-based)"
	RILOP_GLOBAL_DATA_NAME L"Name of global data"

	RILOA_INSERT L"Insert %0 before %1"
	RILOA_INSERT_TIMES L"Insert %0 before %1, %2 times"
	RILOA_SET L"Set %0 to %1"
	RILOA_COPY L"Copy range [%0, %1) to %2, overwrite = %3"
	RILOA_ERASE L"Delete range [%0, %1)"
	RILOA_CLEAR L"Clear list"
	RILOA_SAVE_FILE L"Save list to file %0, delimiter = %1, escape = %2"
	RILOA_LOAD_FILE L"Load list from file %0, delimiter = %1, escape = %2; and insert before %3"
	RILOA_LOAD_STRING L"Deserialize list from string %0, delimiter = %1, escape = %2; and insert before %3"
	RILOA_SORT L"Sort range [%0, %1) via sort order %2"
	RILOA_SORT_CUSTOM_RESULT L"Set (a < b) result to %0 for custom sort"
	RILOA_RESERVE_CAPACITY L"Optimize list for %0 total items"
	RILOA_ERASE_REGEX L"Delete items matching regex %0"
	RILOA_CHANGE_CURRENT_LIST L"Change current list to %0"
	RILOA_DELETE_LIST L"Delete list %0"
	RILOA_COPY_FROM_LIST L"From %0 to current list, copy range [%1, %2) to %3, overwrite = %4"
	RILOA_USE_GLOBAL_DATA L"Use global data %0 instead of local data"
	RILOA_USE_LOCAL_DATA L"Use local data instead of global data"
	RILOA_COPY_LOCAL_TO_GLOBAL L"Overwrite local data to global data %0"
	RILOA_COPY_GLOBAL_TO_LOCAL L"Overwrite global data %0 to local data"
	RILOA_DELETE_GLOBAL_DATA L"Delete all lists from global data %0"
	RILOA_DELETE_LOCAL_DATA L"Delete all lists from local data"

	RILOC_CONTAINS L"%o has item %0"
	RILOC_SORT_CUSTOM L"%o: On Custom Sort"
	RILOC_ERROR L"%o: On Error"
	RILOC_CONTAINS_REGEX L"%o has item matching regex %0"

	RILOE_ITEM L"ItemAt$("
	RILOE_SIZE L"NumItems("
	RILOE_COUNT L"ItemOccurrences("
	RILOE_COUNT_INDEX L"IndexByOccurrence("
	RILOE_SERIALIZE L"List$("
	RILOE_SORT_CUSTOM_A L"SortA$("
	RILOE_SORT_CUSTOM_B L"SortB$("
	RILOE_CAPACITY L"Capacity("
	RILOE_COUNT_REGEX L"RegexItemOccurrences("
	RILOE_COUNT_REGEX_INDEX L"RegexIndexByOccurrence("
	RILOE_LISTS_CURRENT L"CurrentListName$("
	RILOE_LISTS_COUNT L"NumLists("
	RILOE_LISTS_BY_INDEX L"ListByIndex$("
	RILOE_LISTS_CHANGE_STR L"ChangeList$("
	RILOE_LISTS_CHANGE_NUM L"ChangeList("
	RILOE_ERROR_MESSAGE L"Error$("

	RILOPR_VERSION_NAME L"Version"
	RILOPR_VERSION_DESC L"This is the current version of the Internal List Object."
	RILOPR_NUM_LISTS_NAME L"# of lists"
	RILOPR_NUM_LISTS_DESC L"How many lists are stored in the properties."
	RILOPR_NEW_LIST_NAME L"Create new list"
	RILOPR_NEW_LIST_DESC L"Create a new list to begin editing it now."
	RILOPR_NEW_LIST_TEXT L"New List"
	RILOPR_LIST_FOLDER_DESC L"This folder contains the properties for editing the named list."
	RILOPR_LIST_NAME_NAME L"List name"
	RILOPR_LIST_NAME_DESC L"Here you can edit the name of the list. If you untick the checkbox, the list will be deleted."
	RILOPR_LIST_SIZE_NAME L"# of items"
	RILOPR_LIST_SIZE_DESC L"You can increase and decrease the number of items here. If the checkbox is ticked, additions/deletions will happen at the end of the list, otherwise they'll happen at the start of the list."
	RILOPR_EDIT_MODE_NAME L"Edit mode"
	RILOPR_EDIT_MODE_DESC L"Choose how you want to edit this list in the properties."
	RILOPR_EDIT_MODE_BUTTON L"Edit entire list as single string"
	RILOPR_EDIT_MODE_INSERT L"One property per item, checkbox to insert"
	RILOPR_EDIT_MODE_DELETE L"One property per item, checkbox to delete"
	RILOPR_DELIM_NAME L"Delimiter"
	RILOPR_DELIM_DESC L"The delimiter/separator that goes between items in the list. Not saved, only used for this editing session."
	RILOPR_ESC_NAME L"Escape"
	RILOPR_ESC_DESC L"The escape squence that allows using the delimiter within items in the list. Can also escape itself. Not saved, only used for this editing session."
	RILOPR_LIST_MULTILINE_NAME L"Entire list"
	RILOPR_LIST_MULTILINE_DESC L"This is the entire list, delimited and combined into a single string."
	RILOPR_LIST_ITEM_DESC L"An item in the list. The checkbox will either delete this item or insert a new item before this one depending on what you chose."
	RILOPR_NEW_ITEM_NAME L"Append new item"
	RILOPR_NEW_ITEM_DESC L"Appends a new item to the end of this list."
	RILOPR_NEW_ITEM_TEXT L"Add New"
	RILOPR_CONFIRM_DELETE_TITLE L"Delete List? (Internal List Object)"
	RILOPR_CONFIRM_DELETE_MESSAGE L"Are you sure you want to delete this list from the properties?"
END

#endif
